body {
    font-family: 'Open Sans', sans-serif;
    color: #000;
}

h1, h2, h3, h4 {
    font-family: 'Special Elite', cursive;
}

.background-image {
    width: 100%;
    background-image: url("images/choppingboard-background.png");
    background-color: #fafafa;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

/* ---------------------------------------- Navbar */
.navbar {
    padding: 0.5rem 1.5rem;
    background-color: rgba(256, 256, 256, 0.8);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,1);
}

.navbar-modal-button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.dropdown-item, .dropdown-toggle, .nav-link {
    text-align: center;
}

.nav-link {
    margin: 0 auto;
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 900;
}

.dropdown-item {
    font-size: 1.2rem;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}


.navbar-logo {
    height: 55px;
}

@media (min-width:575px) {
    .nav-item {
        width: 31.5vw;
    }
    .dropdown-menu {
        width: 20vw;
        margin: 7px 0 0 5.75vw;   
    }
}

/* ---------------------------------------- Footer */

footer {
    height: 55px;
    background-image: url("images/choppingboard-footer-background.png");
    background-color: #c4c4c4;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    text-align: center;
    font-weight: 600;
    margin-top: 60px;
}

footer p, footer a {
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
}

footer a {
    color: #000;
    text-decoration: none;
}

.spoonacular-logo {
    width: 40px;
    float: right;
    margin: 5px 5px 0 0;
    display: inline;
}

.logo-label {
    margin-left: -12px;
    display: inline;
    text-align: start;
}

/* -------------------------------------------------------------- index.html */
/* ---------------------------------------- Introduction */

#introduction {
    padding: 20px 15px 10px 20px;
}

#introduction p {
    padding: 15px 0 0;
    font-size: 1.3rem;
    font-family: 'Special Elite', cursive;
    text-align: right;
}

.logo {
    height: 180px;
    float: left;
    margin-right: 10px;
}

.recipe-selector-button-container {
    text-align: center;
    font-family: 'Special Elite', cursive;
}

.recipe-selector-button {
    width: 100%;
    max-width: 250px;
    margin: 15px auto;
    color: #000;
    font-size: 1.6rem;
    background: #c4c4c4;
    border: 1px solid #000;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 12px 40px 0 rgb(0 0 0 / 19%);
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    font-family: inherit;
    line-height: inherit;
    border-radius: 2px;
    transition: ease-in 0.2s;
}