body {
    font-family: 'Open Sans', sans-serif;
    color: #000;
}

h1, h2, h3, h4 {
    font-family: 'Special Elite', cursive;
}

.background-image {
    height: 100%;
    background-image: url("images/choppingboard-background.png");
    background-color: #c4c4c4;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

/* ---------------------------------------- Navbar */
.navbar {
    padding: 0.5rem 1.5rem;
    background-color: rgba(256, 256, 256, 0.6);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,1);
}

.navbar-modal-button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.dropdown-item, .dropdown-toggle, .nav-link {
    text-align: center;
}

.nav-link {
    margin: 0 auto;
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 900;
}

.dropdown-item {
    font-size: 1.2rem;
}

@media (min-width:575px) {
    .nav-item {
        width: 31.5vw;
    }
    .dropdown-menu {
        width: 20vw;
        margin: 7px 0 0 5.75vw;   
    }
}

